datasets == 4.0.0
huggingface-hub == 0.34.4
llama-cpp-python == 0.3.16
peft == 0.17.1
torch == 2.8.0
transformers == 4.56.1
unsloth == 2025.9.1

# For llama.cpp - convert_hf_to_gguf.py
mistral-common >= 1.8.3
numpy ~= 1.26.4
protobuf >=4.21.0 , <5.0.0
sentencepiece ~=0.2.0
